/data
/data/*
/.idea
/.idea/*
**/__pycache__
/chrome_entry/debug.txt
.ipynb_checkpoints/*
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*
/backend/models
/backend/models/*
/build
/build/*
/dist
/dist/*
/*.egg-info
/*.egg-info/*
*.ipynb